<script lang="ts">
export default { name: 'Tracks' }
</script>

<script setup lang="ts">
import { onMounted, ref } from 'vue'
import axios from 'axios'
import moment from 'moment'

let tracks: any = ref({nowplaying: []})

/**
 * Methods
 */
 const getTracks = () => {
  axios
    .get('http://127.0.0.1:7000', {
      headers: {
        'Content-Type': 'application/json;charset=UTF-8',
        'Access-Control-Allow-Origin': '*'
      }
    })
    .then(response => {
      console.log(response)
      tracks.value = response.data
    })
    .catch(e => {
      console.log(e);
      return e;
    });
}

const progressTrack = (time: string) => {
  let result: number = (new Date().getTime() - new Date(time).getTime());
  return result
}

const getDuration = (duration: string) => {
  let time: Array<string> = duration.split(':')
  let minutes: number = Number(time[1])
  let seconds = Number(time[2])
  let result = (minutes * 1000 * 60) + (seconds * 1000)
  return result
}

/**
 * Lifecycle hooks
 */
onMounted(() => {
  setInterval(()=> {
    getTracks()
  }, 2000)  
})
</script>

<template>
  <div class="tracks">
    <a 
      class="track" 
      v-for="track in tracks.nowplaying" 
      :key="track.iTunesTrackUrl"
      :class="{'active': track.status === 'playing'}"
      :href="track.iTunesTrackUrl"
      target="_blank"
    >
      <img v-if="track.imageUrl" :src="track.imageUrl" alt="image">
      <img v-else src="../assets/no-image.jpeg" alt="image" />

      <div class="track-content">
        <b>{{ track.artist }}</b>
        {{ track.title }}

        <div v-if="track.status === 'playing'" class="progress">
          <progress 
            :max="getDuration(track.duration)" 
            :value="progressTrack(track.time)"
          ></progress>
          <div class="progress-time">
            <div v-if="progressTrack(track.time) <= getDuration(track.duration)">
              {{ moment(progressTrack(track.time)).format('mm:ss') }}/
            </div>
            <div>{{ track.duration.slice(3,8) }}</div>
          </div>
        </div>

      </div>
    </a>
  </div>
</template>

<style scoped lang="sass">
.track 
  display: flex
  margin-bottom: 10px
  padding: 10px
  transition: all 0.3s

  &:hover 
    filter: drop-shadow(2px 4px 6px grey)

  &-content 
    display: flex
    flex-direction: column
    margin-left: 10px

  &.active 
    margin-bottom: 10px
    border-bottom: 1px solid
    background: aliceblue

img 
  width: 100px

.progress-time 
  display: flex

</style>
