<template>
  <div id="app" :class="{ blur: active !== 'home' }">
    <div class="header">
      <ul>
        <li
          v-for="tab in tabs"
          :key="tab.id"
          :class="{ active: active === tab.id }"
          @click="active = tab.id"
        >
          {{ tab.title }}
        </li>
      </ul>
    </div>
    <div v-if="active === 'home'" class="wrapp home">
      <div class="title">Danil & Alina</div>
      <div class="text">Are getting married</div>
    </div>
    <div v-if="active === 'history'" class="wrapp">
      <div class="wrapper-flex">
        <div class="flex">
          <p>Наша історія почалася <br />21.08.2022</p>
          <img src="./assets/us/1.jpg" />
        </div>
        <div class="flex revert">
          <p>Часто проводили час із друзями</p>
          <img src="./assets/us/2.jpg" />
        </div>
        <div class="flex">
          <p>Разом розповідали добру новину</p>
          <img src="./assets/us/3.jpg" />
        </div>
        <div class="flex revert">
          <p>Також не забували про духовне</p>
          <img src="./assets/us/4.jpg" />
        </div>
        <div class="flex">
          <p>Розвивалися фізично</p>
          <img src="./assets/us/5.jpg" />
        </div>
        <div class="flex revert">
          <p>Подорож у Львів</p>
          <img src="./assets/us/6.jpg" />
        </div>
        <div class="flex">
          <p>Проводимо разом вільний час</p>
          <img src="./assets/us/7.jpg" />
        </div>
        <div class="flex revert">
          <p>Незабутній день 25.03.2023 ♡</p>
          <img src="./assets/us/8.jpg" />
        </div>
        <div class="flex">
          <p>Запрошуємо на Весільну Промову!</p>
          <img src="./assets/us/9.jpg" />
        </div>
      </div>
    </div>
    <div v-if="active === 'place'" class="wrapp">
      <div class="place">
        Весільна промова буде проходити за адресою <b>провулок Диканський 5</b>
        <div><b>24.06.2023 о 14:00</b> (у разі відсутності повітряної тривоги)</div>
        <div>Також промова буде транслюватись онлайн по Zoom</div>
        <button>
          <a
            target="_blank"
            href="https://jworg.zoom.us/j/9710507302?pwd=Z0Z4eGl0SnVMK2tqZFVaZHdxY215dz09"
            >Для перегляду онлайн, натисніть сюди</a
          >
        </button>
        <p>
          Або ідентифікатор конференції <b>9710507302</b> <br />Код доступу:
          <b>112102</b>
        </p>
        <p>Дізнатися більше про весільну промову можна за посиланням:</p>
        <div>
          <a
            class="link"
            href="https://www.jw.org/finder?wtlocale=K&docid=501400102&srcid=share"
            target="_blank"
            >https://www.jw.org</a
          >
        </div>
      </div>
    </div>
    <div v-if="active === 'informations'" class="wrapp">
      <div class="informations">
        <p>
          - Якщо ви бажаєте зробити нам подарунок, але не знаєте що, то гроші
          будуть хорошим варіантом ))
        </p>
         <p class="card">
          Номер карти
          <b @click="copy('4441 1144 5328 7458')">4441 1144 5328 7458</b>
        </p>
        <p>Посилання на фото:</p>

        <p><a target="_blank" href="https://drive.google.com/drive/folders/1mveeTqyaZUYMawjuO3Aj7HlSw_Vp9OGO?usp=share_link">
          https://drive.google.com/drive/folders/1mveeTqyaZUYMawjuO3Aj7HlSw_Vp9OGO?usp=share_link
        </a></p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
// import HeaderComp from "./components/HeaderComp";
export default {
  name: "App",
  // components: { HeaderComp },
  data() {
    return {
      active: "home",
      tabs: [
        { title: "Головна", id: "home" },
        { title: "Наша історія", id: "history" },
        { title: "Місце проведення", id: "place" },
        { title: "Інша інформація", id: "informations" },
      ],
    };
  },
  methods: {
    copy(text: string) {
      navigator.clipboard.writeText(text);
    },
  },
};
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
body {
  margin: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background: url("./assets/bg.jpg");
  background-size: cover;
}
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card b {
  margin-left: 7px;
  cursor: pointer;
}
.card b:hover::before {
  content: "Натисніть щоб скопіювати";
  position: absolute;
  background: white;
  padding: 5px;
  font-size: 12px;
  opacity: 0.9;
  border-radius: 4px;
}
.flex {
  display: flex;
  padding: 0 20px;
  justify-content: space-around;
  color: black;
  font-size: 28px;
  margin-bottom: 80px;
}
.flex:last-child {
  padding-bottom: 25px;
}
.flex p {
  color: black;
  display: flex;
  align-items: center;
  padding-left: 54px;
  font-family: fantasy;
}
.wrapper-flex {
  height: 100vh;
  margin-top: 60px;
}
.revert p {
  padding-left: 0;
  padding-right: 54px;
}
.revert {
  flex-direction: row-reverse;
}
.wrapp {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #988989;
  justify-content: center;
  flex-direction: column;
  overflow: scroll;
}
img {
  width: 36%;
  border-radius: 7px;
}
#app.blur {
  background: url("./assets/bg-blur.png");
  background-size: cover;
}
.title {
  font-size: 6rem;
  font-family: 'Dancing Script', cursive;
  text-shadow: 2px 2px black;
  padding: 0 15px;
}
.text {
  font-size: 30px;
  font-weight: 500;
  text-shadow: 2px 2px black;
}

ul {
  display: flex;
  margin: 0;
  list-style-type: none;
  padding: 0;
}
ul li {
  padding: 15px 10px;
  width: 25%;
  margin: 0;
  transition: 0.5s;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
}
ul li:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.active {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.place {
  color: black;
  font-size: 30px;
  height: 100%;
  margin-top: 60px;
  padding: 0 15px;
}
button {
  padding: 10px 15px;
  margin: 15px 0;
  background: lightpink;
  border: 1px solid;
  border-radius: 20px;
  transition: 0.4s;
}
button:hover {
  background: #a69898;
}
a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.link {
  text-decoration: underline;
  font-weight: bold;
  font-size: 24px;
  color: darkblue;
}
.link:hover {
  color: black;
}
.informations {
  color: black;
  font-size: 30px;
  padding: 0 15px;
}

@media (max-width: 750px) {
  .flex {
    display: block;
  }
  .flex p {
    padding: 0;
    justify-content: center;
  }
  img {
    width: 100%;
  }
  .place {
    font-size: 20px;
  }
  ul li {
    font-size: 14px;
  }
  button a {
    font-size: 18px;
  }
  .informations {
    font-size: 20px;
  }
}
@media (max-width: 350px) {
  ul li {
    font-size: 12px;
  }
}
</style>
